<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
        <th scope="col">Availability</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Angels & Demons</td>
        <td>2011</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Da Vinci Code</td>
        <td>2013</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Digital Fortress</td>
        <td>2015</td>
        <td>No</td>
      </tr>
    </tbody>
  </table>
  
  